* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[placeholder] {
  text-overflow:ellipsis
}

:where([input], [select]):has([required]) [label__text] {
	&:after {
		content: "*";
		margin-left: 4px;
		font-size: 15px;
		color: #E34141;
	}
}

[label]:has([tooltip-text]) [tooltip-text]::before {
	content: attr(tooltip-text);
	position: absolute;
	z-index: 1000;
	bottom: 125%;
	padding: 16px 8px;
	transform: translateX(-4%);
	background-color: #333;
	color: white;
	border-radius: 6px;
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
	word-wrap: break-word;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s, visibility 0.2s;
}

[label]:has([tooltip-text]) [tooltip-text]::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 4px solid #333;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s, visibility 0.2s;
}

[label]:has([tooltip-text]) [tooltip-text]:hover::before,
[label]:has([tooltip-text]) [tooltip-text]:hover::after {
	opacity: 1;
	visibility: visible;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

[input][disable="true"] [input__field] {
	border-color: var(--_components---fields--text_field--underline_disable, var(--baselane----design-system-a29a_components---fields--text_field--underline_disable));
}

[input][error="true"] [input__field] {
	border-color: var(--_components---fields--text_field--underline_error, var(--baselane----design-system-a29a_components---fields--text_field--underline_error));
}

[input][error="true"]:after {
	content: attr(error-message);
  color: var(--_semantic---text--functional--error, var(--baselane----design-system-a29a_semantic---text--functional--error));
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

[select]:is([data-wf--select--select-theme="white"], [data-wf--baselane----design-system-a29a--select--select-theme="white"]) [select__field] {
  background: url("https://cdn.prod.website-files.com/68302b3f2baf68e6d1ecf558/68302b3f2baf68e6d1ecf6ea_icon-dropdown-down-24px-white.svg") no-repeat right center !important;
}

[select]:is([data-wf--select--select-theme="midnight"], [data-wf--baselane----design-system-a29a--select--select-theme="midnight"]) [select__field] {
  background: url("https://cdn.prod.website-files.com/68302b3f2baf68e6d1ecf558/68302b3f2baf68e6d1ecf7ef_icon-dropdown-down-24px-white.svg") no-repeat right center !important;
}

[select][disable="true"] [select__field] {
	border-color: var(--_components---fields--text_field--underline_disable, var(--baselane----design-system-a29a_components---fields--text_field--underline_disable));
}

[select][error="true"] [select__field] {
	border-color: var(--_components---fields--text_field--underline_error, var(--baselane----design-system-a29a_components---fields--text_field--underline_error));
}

[select][error="true"]:after {
	content: attr(error-message);
  color: var(--_semantic---text--functional--error, var(--baselane----design-system-a29a_semantic---text--functional--error));
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
}

[select__field].placeholder {
	color: var(--_components---fields--input_default, var(--baselane----design-system-a29a_components---fields--input_default));
}
  
.w-container:before, .w-container:after,
.w-richtext:before, .w-richtext:after {
  display: none;
}

.w-richtext ol, .w-richtext ul {
	padding-left: 0;
	margin-bottom: 16px;
}

.w-richtext ol li {
	margin-inline-start: 40px;
	padding-inline-start: 8px;	
}

.w-richtext:not([data-checklist="true"]) ul li {
	margin-inline-start: 24px;
	padding-inline-start: 8px;
}

.w-richtext:not([data-checklist="true"]) ul li::marker {
	content: "•";
}

.w-richtext-figure-type-image img {
	border-radius: 12px;
}
  
[full-click="true"]:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
  
[tag-button]:hover::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  width: 5px;
  height: 5px;
  background: #0B2033;
	transform: translateY(-50%);
  border-radius: 100px;
}
  
[data-checklist="true"] ul {
  padding-left: 0;
}

[data-checklist="true"] ul li {
	padding-left: 32px;
  min-height: 24px;
	background: url(https://cdn.prod.website-files.com/68302b3f2baf68e6d1ecf558/68302b3f2baf68e6d1ecf6d2_icon-checkmark-24px-white.svg) no-repeat;
	list-style: none;
}

.goverlay {
	background: rgba(11, 32, 51, .8) !important;
}