* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

[placeholder] {
  text-overflow:ellipsis
}
  
.w-container:before, .w-container:after,
.w-richtext:before, .w-richtext:after {
  display: none;
}

.w-richtext ol, .w-richtext ul {
	padding-left: 0;
	margin-bottom: 16px;
}

.w-richtext ol li {
	margin-inline-start: 40px;
	padding-inline-start: 8px;	
}

.w-richtext:not([data-checklist="true"]) ul li {
	margin-inline-start: 24px;
	padding-inline-start: 8px;
}

.w-richtext:not([data-checklist="true"]) ul li::marker {
	content: "•";
}

.w-richtext-figure-type-image img {
	border-radius: 12px;
}
  
[full-click="true"]:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
  
[tag-button]:hover::after {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  width: 5px;
  height: 5px;
  background: #0B2033;
	transform: translateY(-50%);
  border-radius: 100px;
}
  
[data-checklist="true"] ul {
  padding-left: 0;
}

[data-checklist="true"] ul li {
	padding-left: 32px;
  	min-height: 24px;
	background: url(https://cdn.prod.website-files.com/68302b3f2baf68e6d1ecf558/68302b3f2baf68e6d1ecf6d2_icon-checkmark-24px-white.svg) no-repeat;
	list-style: none;
}