.h1 {
    font-size: var(--_typography---heading--h1--font-size, var(--baselane----design-system-a29a_typography---heading--h1--font-size));
    line-height: var(--_typography---heading--h1--line-height, var(--baselane----design-system-a29a_typography---heading--h1--line-height));
    font-weight: var(--_typography---heading--h1--font-weight, var(--baselane----design-system-a29a_typography---heading--h1--font-weight));
    letter-spacing: var(--_typography---heading--h1--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h1--letter-spacing))
}

.h1-mobile {
    font-size: var(--_typography---heading--h1-mobile--font-size, var(--baselane----design-system-a29a_typography---heading--h1-mobile--font-size));
    letter-spacing: var(--_typography---heading--h1-mobile--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h1-mobile--letter-spacing))
}

.h2 {
    font-size: var(--_typography---heading--h2--font-size, var(--baselane----design-system-a29a_typography---heading--h2--font-size));
    line-height: var(--_typography---heading--h2--line-height, var(--baselane----design-system-a29a_typography---heading--h2--line-height));
    font-weight: var(--_typography---heading--h2--font-weight, var(--baselane----design-system-a29a_typography---heading--h2--font-weight));
    letter-spacing: var(--_typography---heading--h2--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h2--letter-spacing))
}

.h2-mobile {
    font-size: var(--_typography---heading--h2-mobile--font-size, var(--baselane----design-system-a29a_typography---heading--h2-mobile--font-size));
    letter-spacing: var(--_typography---heading--h2-mobile--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h2-mobile--letter-spacing))
}

.h3 {
    font-size: var(--_typography---heading--h3--font-size, var(--baselane----design-system-a29a_typography---heading--h3--font-size));
    line-height: var(--_typography---heading--h3--line-height, var(--baselane----design-system-a29a_typography---heading--h3--line-height));
    font-weight: var(--_typography---heading--h3--font-weight, var(--baselane----design-system-a29a_typography---heading--h3--font-weight));
    letter-spacing: var(--_typography---heading--h3--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h3--letter-spacing))
}

.h3-mobile {
    font-size: var(--_typography---heading--h3-mobile--font-size, var(--baselane----design-system-a29a_typography---heading--h3-mobile--font-size));
    letter-spacing: var(--_typography---heading--h3--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h3--letter-spacing))
}

.h4 {
    font-size: var(--_typography---heading--h4--font-size, var(--baselane----design-system-a29a_typography---heading--h4--font-size));
    line-height: var(--_typography---heading--h4--line-height, var(--baselane----design-system-a29a_typography---heading--h4--line-height));
    font-weight: var(--_typography---heading--h4--font-weight, var(--baselane----design-system-a29a_typography---heading--h4--font-weight));
    letter-spacing: var(--_typography---heading--h4--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h4--letter-spacing))
}

.h5 {
    font-size: var(--_typography---heading--h5--font-size, var(--baselane----design-system-a29a_typography---heading--h5--font-size));
    line-height: var(--_typography---heading--h5--line-height, var(--baselane----design-system-a29a_typography---heading--h5--line-height));
    font-weight: var(--_typography---heading--h5--font-weight, var(--baselane----design-system-a29a_typography---heading--h5--font-weight));
    letter-spacing: var(--_typography---heading--h5--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h5--letter-spacing))
}

.h6 {
    font-size: var(--_typography---heading--h6--font-size, var(--baselane----design-system-a29a_typography---heading--h6--font-size));
    line-height: var(--_typography---heading--h6--line-height, var(--baselane----design-system-a29a_typography---heading--h6--line-height));
    font-weight: var(--_typography---heading--h6--font-weight, var(--baselane----design-system-a29a_typography---heading--h6--font-weight));
    letter-spacing: var(--_typography---heading--h6--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h6--letter-spacing))
}

.h7 {
    font-size: var(--_typography---heading--h7--font-size, var(--baselane----design-system-a29a_typography---heading--h7--font-size));
    line-height: var(--_typography---heading--h7--line-height, var(--baselane----design-system-a29a_typography---heading--h7--line-height));
    font-weight: var(--_typography---heading--h7--font-weight, var(--baselane----design-system-a29a_typography---heading--h7--font-weight));
    letter-spacing: var(--_typography---heading--h7--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h7--letter-spacing))
}

.h8 {
    font-size: var(--_typography---heading--h8--font-size, var(--baselane----design-system-a29a_typography---heading--h8--font-size));
    line-height: var(--_typography---heading--h8--line-height, var(--baselane----design-system-a29a_typography---heading--h8--line-height));
    font-weight: var(--_typography---heading--h8--font-weight, var(--baselane----design-system-a29a_typography---heading--h8--font-weight));
    letter-spacing: var(--_typography---heading--h8--letter-spacing, var(--baselane----design-system-a29a_typography---heading--h8--letter-spacing))
}

.subheading-sh1-30 {
    font-size: var(--_typography---subheading--sh1-30--font-size, var(--baselane----design-system-a29a_typography---subheading--sh1-30--font-size));
    line-height: var(--_typography---subheading--sh1-30--line-height, var(--baselane----design-system-a29a_typography---subheading--sh1-30--line-height));
    font-weight: var(--_typography---subheading--sh1-30--font-weight, var(--baselane----design-system-a29a_typography---subheading--sh1-30--font-weight));
    letter-spacing: var(--_typography---subheading--sh1-30--letter-spacing, var(--baselane----design-system-a29a_typography---subheading--sh1-30--letter-spacing))
}

.subheading-sh2-16 {
    font-size: var(--_typography---subheading--sh2-16--font-size, var(--baselane----design-system-a29a_typography---subheading--sh2-16--font-size));
    line-height: var(--_typography---subheading--sh2-16--line-height, var(--baselane----design-system-a29a_typography---subheading--sh2-16--line-height));
    font-weight: var(--_typography---subheading--sh2-16--font-weight, var(--baselane----design-system-a29a_typography---subheading--sh2-16--font-weight));
    letter-spacing: var(--_typography---subheading--sh2-16--letter-spacing, var(--baselane----design-system-a29a_typography---subheading--sh2-16--letter-spacing))
}

.subheading-sh1-30-mobile {
    font-size: var(--_typography---subheading--sh1-30-mobile--font-size, var(--baselane----design-system-a29a_typography---subheading--sh1-30-mobile--font-size));
    line-height: var(--_typography---subheading--sh1-30-mobile--line-height, var(--baselane----design-system-a29a_typography---subheading--sh1-30-mobile--line-height));
    font-weight: var(--_typography---subheading--sh1-30--font-weight, var(--baselane----design-system-a29a_typography---subheading--sh1-30--font-weight));
    letter-spacing: var(--_typography---subheading--sh1-30-mobile--letter-spacing, var(--baselane----design-system-a29a_typography---subheading--sh1-30-mobile--letter-spacing))
}

.subheading-sh2-16-mobile {
    font-size: var(--_typography---subheading--sh2-16-mobile--font-size, var(--baselane----design-system-a29a_typography---subheading--sh2-16-mobile--font-size));
    line-height: var(--_typography---subheading--sh2-16--line-height, var(--baselane----design-system-a29a_typography---subheading--sh2-16--line-height));
    font-weight: var(--_typography---subheading--sh2-16-mobile--font-weight, var(--baselane----design-system-a29a_typography---subheading--sh2-16-mobile--font-weight));
    letter-spacing: var(--_typography---subheading--sh2-16-mobile--letter-spacing, var(--baselane----design-system-a29a_typography---subheading--sh2-16-mobile--letter-spacing))
}

.body-p1-22 {
    font-size: var(--_typography---body--p1-22--font-size, var(--baselane----design-system-a29a_typography---body--p1-22--font-size));
    line-height: var(--_typography---body--p1-22--line-height, var(--baselane----design-system-a29a_typography---body--p1-22--line-height));
    font-weight: var(--_typography---body--p1-22--font-weight, var(--baselane----design-system-a29a_typography---body--p1-22--font-weight));
    letter-spacing: var(--_typography---body--p1-22--letter-spacing, var(--baselane----design-system-a29a_typography---body--p1-22--letter-spacing))
}

.body-p2-20 {
    font-size: var(--_typography---body--p2-20--font-size, var(--baselane----design-system-a29a_typography---body--p2-20--font-size));
    line-height: var(--_typography---body--p2-20--line-height, var(--baselane----design-system-a29a_typography---body--p2-20--line-height));
    font-weight: var(--_typography---body--p2-20--font-weight, var(--baselane----design-system-a29a_typography---body--p2-20--font-weight));
    letter-spacing: var(--_typography---body--p2-20--letter-spacing, var(--baselane----design-system-a29a_typography---body--p2-20--letter-spacing))
}

.body-p3-18 {
    font-size: var(--_typography---body--p3-18--font-size, var(--baselane----design-system-a29a_typography---body--p3-18--font-size));
    line-height: var(--_typography---body--p3-18--line-height, var(--baselane----design-system-a29a_typography---body--p3-18--line-height));
    font-weight: var(--_typography---body--p3-18--font-weight, var(--baselane----design-system-a29a_typography---body--p3-18--font-weight));
    letter-spacing: var(--_typography---body--p3-18--letter-spacing, var(--baselane----design-system-a29a_typography---body--p3-18--letter-spacing))
}

.body-p3-18-medium {
    font-size: var(--_typography---body--p3-18--font-size, var(--baselane----design-system-a29a_typography---body--p3-18--font-size));
    line-height: var(--_typography---body--p3-18--line-height, var(--baselane----design-system-a29a_typography---body--p3-18--line-height));
    font-weight: var(--_typography---body--p3-18-medium--font-weight, var(--baselane----design-system-a29a_typography---body--p3-18-medium--font-weight));
    letter-spacing: var(--_typography---body--p3-18--letter-spacing, var(--baselane----design-system-a29a_typography---body--p3-18--letter-spacing))
}

.body-p4-16 {
    font-size: var(--_typography---body--p4-16--font-size, var(--baselane----design-system-a29a_typography---body--p4-16--font-size));
    line-height: var(--_typography---body--p4-16--line-height, var(--baselane----design-system-a29a_typography---body--p4-16--line-height));
    font-weight: var(--_typography---body--p4-16--font-weight, var(--baselane----design-system-a29a_typography---body--p4-16--font-weight));
    letter-spacing: var(--_typography---body--p4-16--letter-spacing, var(--baselane----design-system-a29a_typography---body--p4-16--letter-spacing))
}

.body-p4-16-medium {
    font-size: var(--_typography---body--p4-16--font-size, var(--baselane----design-system-a29a_typography---body--p4-16--font-size));
    line-height: var(--_typography---body--p4-16--line-height, var(--baselane----design-system-a29a_typography---body--p4-16--line-height));
    font-weight: var(--_typography---body--p4-16-bold--font-weight, var(--baselane----design-system-a29a_typography---body--p4-16-bold--font-weight));
    letter-spacing: var(--_typography---body--p4-16-bold--letter-spacing, var(--baselane----design-system-a29a_typography---body--p4-16-bold--letter-spacing))
}

.body-p5-14 {
    font-size: var(--_typography---body--p5-14--font-size, var(--baselane----design-system-a29a_typography---body--p5-14--font-size));
    line-height: var(--_typography---body--p5-14--line-height, var(--baselane----design-system-a29a_typography---body--p5-14--line-height));
    font-weight: var(--_typography---body--p5-14--font-weight, var(--baselane----design-system-a29a_typography---body--p5-14--font-weight));
    letter-spacing: var(--_typography---body--p5-14--letter-spacing, var(--baselane----design-system-a29a_typography---body--p5-14--letter-spacing))
}

.body-p5-14-medium {
    font-size: var(--_typography---body--p5-14--font-size, var(--baselane----design-system-a29a_typography---body--p5-14--font-size));
    line-height: var(--_typography---body--p5-14--line-height, var(--baselane----design-system-a29a_typography---body--p5-14--line-height));
    font-weight: var(--_typography---body--p5-14-medium--font-weight, var(--baselane----design-system-a29a_typography---body--p5-14-medium--font-weight));
    letter-spacing: var(--_typography---body--p5-14--letter-spacing, var(--baselane----design-system-a29a_typography---body--p5-14--letter-spacing))
}

.body-p5-14-bold {
    font-size: var(--_typography---body--p5-14--font-size, var(--baselane----design-system-a29a_typography---body--p5-14--font-size));
    line-height: var(--_typography---body--p5-14--line-height, var(--baselane----design-system-a29a_typography---body--p5-14--line-height));
    font-weight: var(--_typography---body--p5-14-bold--font-weight, var(--baselane----design-system-a29a_typography---body--p5-14-bold--font-weight));
    letter-spacing: var(--_typography---body--p5-14--letter-spacing, var(--baselane----design-system-a29a_typography---body--p5-14--letter-spacing))
}

.body-p6-12 {
    font-size: var(--_typography---body--p6-12--font-size, var(--baselane----design-system-a29a_typography---body--p6-12--font-size));
    line-height: var(--_typography---body--p6-12--line-height, var(--baselane----design-system-a29a_typography---body--p6-12--line-height));
    font-weight: var(--_typography---body--p6-12--font-weight, var(--baselane----design-system-a29a_typography---body--p6-12--font-weight));
    letter-spacing: var(--_typography---body--p6-12--letter-spacing, var(--baselane----design-system-a29a_typography---body--p6-12--letter-spacing))
}

.body-p7-10 {
    font-size: var(--_typography---body--p7-10--font-size, var(--baselane----design-system-a29a_typography---body--p7-10--font-size));
    line-height: var(--_typography---body--p7-10--line-height, var(--baselane----design-system-a29a_typography---body--p7-10--line-height));
    font-weight: var(--_typography---body--p7-10--font-weight, var(--baselane----design-system-a29a_typography---body--p7-10--font-weight));
    letter-spacing: var(--_typography---body--p7-10--letter-spacing, var(--baselane----design-system-a29a_typography---body--p7-10--letter-spacing))
}